

#village {
    margin: 0;
    padding: 0;
    background-image: url('static/images/bg1.png');
    background-size: auto;
    background-repeat: no-repeat; 
    background-position: top left;
    height: 2000px; 
    overflow: auto; 
}

.topBar{                                                                                     
    position: sticky;  /* Propriété très importante qui va permettre à la barre de se "coller" en haut de la page lorsque l'on va scroller */
    position: -webkit-sticky; /*Compatibilité avec safari */
    top: 5px; /* Définie le haut de la page pour cet élément comme étant à 5 pixel plus bas que l'originale. Cela permet de ne pas avoir la barre de navigation qui soit trop collé au hauut de page */
    display: grid;
    grid-template-columns: 7% 55px;
}


#BoutonHome{
    box-sizing: border-box;
    display: block;
    height: 50px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-content: center;

}

.topbar1{
    align-content: center;
    background-color: rgb(211, 197, 119);
    border: 2px solid #796700;
    border-radius: 10px;
}

#entrepot{
    opacity: 100%;
    left: 840px;
    top: 380px;
    position: relative;
    display: inline-block;
}

#entrepotIm{
    width: 150px;
    height: auto;
}

.texteInfo {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }


#fondTopBar{
    background-color: rgb(211, 197, 119);
    border: 2px solid #796700;
    border-radius: 10px;
}

