<!DOCTYPE html>

<html>
    <head>
        <meta charset="ansci">
        <title id="titre page"> PIW </title>
        <link rel="icon" href="{{url_for('static', filename='images/PIWlogo.png') }}"> 
        <link rel="stylesheet" href="{{url_for('static', filename='css/casscadeDeSwag.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='js/hackDeLaNASA.js')}}"></script>
    </head>

    <body id="village" >
        <style>#village{background-image: url("{{url_for('static', filename='/images/bg2.png')}}");}</style>
        <div id="topBar">
            <div class="topbar">
                <p id="playerInfo"> Nom Village
                    Username
                </p>
            </div>
            <div class = "topbar">
                <img id="BoutonHome" src="{{url_for('static', filename='images/iconMaison.png')}}"></img>
            </div>
        </div>

        <div id="Maison" class="Batiment">
            <img class="Cercle" src="{{url_for('static', filename='images/cercleMaison.png')}}"> 
            <img id="MaisonIm"  src="{{url_for('static', filename='images/maison.png') }}">
        </div>

        <div id="Scierie" class="Batiment">
            <img class="Cercle" src="{{url_for('static', filename='images/cercleMaison.png')}}"> 
            <img id="ScierieIm"  src="{{url_for('static', filename='images/scierie.png') }}">
        </div>

        <div id = "Entrepot" class="Batiment">
            <img id="entrepotIm" src="{{url_for('static', filename='images/entrepot.png')}}"></img>
            <span id="infoEntrepot" class="texteInfo">Entrepot - niv.1</span>
        </div>

    <!-- pop up -->
        <div id="popUpStat" class="popUp">
            <span id="BoutonCroix">&times;</span>
            <div class="ContenuPopUp">
                <h1 id="titrePopUp">[placeholder nom_batiment-niveau]</h1>
                <img id="marteau" src="{{url_for('static', filename='') }}">
            </div>
        </div>
    <!-- ###### -->

    </body>
</html>
